@mixin boxHover{
   //animation: popup 0.7s;
   transform: scale(1.1);
   
}
// @keyframes popup {
//     0%{
//       transform: scale(1);
//     }
//     5%{
//       transform: scale(1.1);
//     }
    
//   }
.cardBox{
    width: 95%;
    height: 30vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //padding: 10px 10px;
    //margin-left: 10px;
    //margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    &:hover{
        @include boxHover();
    }
    
    .productImage{
        display:block;
        width: 90%;
        height: 15vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1vw;
        border-radius: 10px;
        
    }
    .productNameContainer{
        display:block;
        width: 90%;
        height: 3vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1vw;
        .productName{
            display: block;
           text-align: center;
           font-size: 1.2vw;
           margin-left: auto;
            margin-right: auto;
           width: 100%;
        }
        
    }
    .CardRating{
           margin-top: 1vw;
           display: block;
           text-align: center;
           font-size: .95vw;
           margin-left: auto;
           margin-right: auto;
           width: 100%;
    }
    .price{
        display: block;
        text-align: center;
        margin-top: 2vw;
        font-size: 2vw;
        margin-left: auto;
        margin-right: auto;
    }
}