.errorPageContainer{
    position: relative;
    height: 50%;
    width:50%;
    left:28%;
    .errorPageImage{
        position: relative;
        left:10%;
        img{
        height: 80%;
        width: 80%;
        
        }

    }
    .errorMessage{
        border-style: solid;
        border-width: 0.2% ;
        border-radius: 5%;
        border-color: rgb(235, 96, 110);
        height: 10%;
        width:100%;
        position:relative;
        background-color: rgb(253, 185, 192);
        .errorText{
            text-align: center;
            position: relative;
            top:30%;
            color:black;
            font-size: 150%;
        }
        

    }
}