.ratingContainer{
    width:25vw;
    .checked {
        color: orange;
      }
    .fa-star-half-o{
        color: orange;
      }
    .fa_custom{
        color: orange;
        //color: white;
    }
}